include ./../date-dropdown/date-dropdown.pug
include ./../dropdown/dropdown.pug
include ./../button/button.pug

// Input date for dropdown-guest
- var dropdown_title = ["Гости", "Сколько гостей", "Взрослые", "Дети", "Младенцы"];
mixin reservation-card 
  div(class="reservation_container")
    // Dropdowns
    div(class="reservation_dropdown reservation_dropdown-arrival")
      +date-dropdown("", "прибытие", "arrow") 
    div(class="reservation_dropdown reservation_dropdown-departure") 
      +date-dropdown("", "выезд", "arrow")
    div(class="reservation_dropdown reservation_dropdown-guest")
      +dropdown(dropdown_title, "option_one")

    // Buttons
    div(class="reservation_button reservation_button-reserve")
      +button({isArrowButton:true, title:"Забранировать", isColored:true, size: "big"})
    div(class="reservation_button reservation_button-lux")   
      +button({title:"люкс", isTextButton: true, size: "small"})

    // Text 
    div(class="reservation_text-number reservation_text")
      p № 888
    div(class="reservation_text reservation_text-cost") 
      - var dayPrice = "<b>9 990Р</b>";
      p(class="reservation_text-cost") !{dayPrice}  в сутки 
   
    // Price list
    div(class="reservation_price-container") 
      - var prices = {days:"39 960",service:"0",add:"300", amount: "38 081"};
      - var fEl = {s:"<span class='reservation_price-item reservation_price-title'>", e:"</span>"};
      - var sEl = {s:"<span class='reservation_price-cost'>", e: "</span>"} 
      ul(class="reservation_price") 
        li(class="reservation_price-item") !{fEl.s}9 990Р x 4 суток!{fEl.e} !{sEl.s}#{prices.days}Р !{sEl.e}
        li(class="reservation_price-item") !{fEl.s}Сбор за услуги скидка:!{fEl.e} !{sEl.s}#{prices.service}Р!{sEl.e}
        li(class="reservation_price-item") !{fEl.s}Сбор за дополнительные услуги!{fEl.e} !{sEl.s}#{prices.add}Р!{sEl.e}
        li(class="reservation_price-item reservation_price-amount") !{fEl.s}Итого!{fEl.e} !{sEl.s}#{prices.amount}Р!{sEl.e}

    // Script implement count for dropdown buttons   
    script(src="./../count-button/count-button.js")


