-
  var utfStar = [
    "<span class='rating_star' id='star_1'>☆</span>",
    "<span class='rating_star' id='star_2'>☆</span>",
    "<span class='rating_star' id='star_3'>☆</span>",
    "<span class='rating_star' id='star_4'>☆</span>",
    "<span class='rating_star' id='star_5'>☆</span>"
  ]

mixin rating-button(average_rating)
  // if averag_rating isn`t false we disabled  pointer events of class "rating" 
  - var condition = (average_rating != false) ? " rating_disabled" : "";
  div(class="rating" + condition) !{utfStar[0]}!{utfStar[1]}!{utfStar[2]}!{utfStar[3]}!{utfStar[4]}
  
  // Send average rating to rating js file
  - var rating = (average_rating != undefiend) ? average_rating : false;
  script.
    !{average_rating}; 
  script(src="./../../rating-button/rating-button.js") 
