include ./../arrow/arrow.pug
// Material icons
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

// List is array of items
mixin checkbox-list(title, list)
  ul(class = "checkbox")
    p(class = "сheckbox-item checkbox-title") #{title}
    div(class = "checkbox--arrow") 
      +arrow("arrow_expand", "rgba(31, 32, 65, 0.5)")
  - var labelEl = '<label class = "checkbox-icon" for = "checkbox-input"></label>'
  - var inputEl = '<input class = "checkbox-input" id="checkbox-input" type = "checkbox">'
  each item in list
    li(class = "checkbox-list") !{labelEl}!{inputEl}!{'<span class = "checkbox-item">'}!{item}!{'</span>'}

