mixin radio-button(input_name, left_title, right_title)
  label(class="radio_container radio_container-right " + `${toggle}`) #{left_title}
    input(type="radio" name=input_name class="radio" checked)
  label(class="radio_container radio_container-left") #{right_title}
    input(type="radio" name=input_name class="radio" )

