// Material icons
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

// List is array of items
mixin checkbox-button(list)
  ul(class = "checkbox")
  - var labelEl = '<label class = "checkbox-icon" for = "checkbox-input"></label>'
  - var inputEl = '<input class = "checkbox-input" id="checkbox-input" type = "checkbox">'
  div(class = "checkbox-list-container")
    each item in list
      li(class = "checkbox-list") !{labelEl}!{inputEl}!{'<span class = "checkbox-item">'}!{item}!{'</span>'}

