// Load an icon library to show a hamburger menu (bars) on small screens 
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
- 
  const DEFAULT_ITEMS = [
    {title: "Home", href: "#", isSelected: true},
    {title: "About Us", href: "#"},
    {title: "Services", href: "#", isExpanded: 
    [
          {title: "Service 1"},
          {title: "Service 2"},
          {title: "service 3"}
    ]},
    {title: "Careers", href: "#", isExpanded: 
    [
          {title: "Service 1"},
          {title: "Service 2"},
          {title: "service 3"}
    ]},
    {title: "News", href: "#"},
    {title: "Documentation"}]

mixin nav(className)
  // show menu list icon for mobiles 
  a(href="javascript:void(0);" class="icon" onclick="showMenu()")
    i(class="fa fa-bars nav__show-list")
  
  // show home link for mobiles 
  li(class="nav__show-home nav__item_selected")
    a(class="nav__link" href="#")= "Home"

  ul(class= "nav " + className)
    each item in DEFAULT_ITEMS
      if !item.isSelected & !item.isExpanded
        li(class= "nav__item")
          a(class= "nav__link" title= item.title href=item.href)= item.title

      else if item.isExpanded
        li(class= "nav__item nav__expanded")
          svg(class="nav__item_arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
          a(class= "nav__link")=item.title
          ul(class= "nav__item nav__expanded_content")
            each exp_item in item.isExpanded 
              li(class= "nav__expanded_element")
                a(class= "nav__link nav__expanded_element" href="#")= exp_item.title

      else
        li(class= "nav__item nav__item_selected")
          a(class= "nav__link" href= "#")= item.title
        

